:root {
 --bsod: #001b58;
 --dots: #a6afc5;
}

body {
 background: var(--bsod); 
}
.bbk { color: #000; }

.bgscreen {
 position: fixed;
 width: 100%;
 height: 100vh;
}

#nav .but, #vol .but {
 color: var(--bsod); 
 background: #8c98b4;
}
#nav .but:hover, #vol .but:hover {
 background: #ccd1de;
}

#tweet {
 z-index: 990;
 right: 2rem;
}
#tweet .but {
 color: #8c98b4;
 background: black;
 border: 1px solid black;
}
#tweet .but:hover {
 color: white;
}
#newblk {
 z-index: 5;
 background: rgba(0,27,88,0.8);
}
#guard {
 position: fixed;
 z-index: 6;
 margin-top: 9.3rem;
 padding-bottom: 7rem;
 width: 100%;
 background-repeat: no-repeat;
 background-position: top;
 background-size: 100% 100%;
 background-image: url('../pics/blue.png');
}
.dark {
 max-width: 42rem;
 width: calc(80% + 4rem - 8px);
 height: 2.4rem; 
 margin: 0 auto;
 margin-top: 0.1rem;
 text-align: left;
 background: none;
}
.dark .link1 {
 height: 1.8rem;
 margin-left: 9.0rem;
 margin-top: 0.1rem;
}
.dark .link1 img {
 width: 1.6rem; height: 1.6rem;
 margin: 0.1rem;
}
.dark .link1, .dark .linkinput {
 display: inline;
}
.dark .linky {
 width: 50%;
}
#tweet, #newblk, #guard, .dark {
 display: none;
}

#dummy {
 pointer-events:none; 
 z-index: 995;
 display: flex;
 align-items: center;
 justify-content: center;
}
#dummy #bugbug {
 background-repeat: no-repeat;
 background-position: 50% calc(50% - 130px);
 background-size: 200px 200px;
 background-color: rgba(0,27,88,0.8);
 background-image: url('../pics/flash.png');
 -webkit-transition: background-color 0.3s ease-out; 
 transition: background-color 0.3s ease-out;
 text-align: center;
 color: yellow;
 line-height: 100vh; width: 100%;
}
#dummy #bugbug:empty {
 background: none;
}

form input[type="text"], form input[type="password"] {
 background: transparent;
 color: white;
 outline: none;
 border: none;
 font-family: vt;
}

::-webkit-input-placeholder { color: black }
::-moz-placeholder { color: black }
:-ms-input-placeholder { color: black }
:-moz-placeholder { color: black }

form textarea {
 resize: vertical;
 margin-bottom: -0.9rem;
 margin-top: -0.3rem;
 width: 100%;
 background: transparent;
 color: white;
 outline: none;
 border: none;
 font-family: vt;
}
.abv, .btm {
 display: none;
}

.newchunk {
 margin-top: 0.2rem;
 margin-bottom: -0.5rem;
}
.newchunk .me, #notes .me {
 margin-top: 1px;
 margin-bottom: -4px;
 padding-top: 1.4rem;
 padding-bottom: 1.8rem;
 padding-left: 1.5rem;
 padding-right: 1.5rem;
 border: 2px dashed var(--dots); 
 background: none;
 -webkit-transition: background 0.6s ease-out; 
 transition: background 0.6s ease-out;
}
.newchunk .me:hover, #notes .me:hover {
 background: rgba(0, 0, 0, 0.1);
}

#notes {
 width: 100%;
 text-align: center;
 color: white;
 margin-bottom: 32rem;
}
#notes ul {
 padding: 0;
 list-style-type: none;
}

#notes .rpf, #notes .edf {
 display: none;
}
#notes .edf {
 position: relative;
}
#notes .one {
 padding: 0rem 1.5rem;
 text-align: left;
 border-left: 2px dashed var(--dots); 
 border-right: 2px solid var(--bsod); 
}
#notes .one p {
 margin-bottom: 0.6rem;
}
#notes .one .footer {
  margin-top: 0.5rem;
}
#notes .one .pic {
 width: calc(100% + 1.2rem);
}
#notes .one .pic img {
 max-width: 100%;
 max-height: 320px;
}
#notes .one .bksm a {
 color: var(--bsod); 
 background: rgba(255, 255, 51, 0.7);
}
#notes .one .bksm a:hover {
 color: var(--bsod); 
 background: rgba(255, 255, 51, 1.0);
}
#notes .bbox .good {
 position: absolute;
 z-index: 3;
 left: 0;
}
#notes .bbox .nw {
 top: -3px; 
 height: 58px; 
}
#notes .bbox .nw img {
 width: 32px;
 height: 58px;
}
#notes .tbox.top12, .busy.top12 {
 margin-top: 1.2rem;
}
#notes .tbox.top06 {
 margin-top: 0.6rem;
}
#notes .rpf .footer,  #notes #editable, .newchunk .footer {
 height: 2.0rem;
}

.footer {
 position: relative;
 text-align: right;
 width: calc(100% + 1.2rem);
}
.footer .but {
 text-decoration: none;
 padding: 2px 10px;
 margin-left: 0.4rem;
 -webkit-transition: all 0.3s ease-out; 
 transition: all 0.3s ease-out;
 color: var(--bsod); 
 background: #fff;
}
.footer .but:hover {
 opacity: 0.8;
}
.footer .but.reply:hover {
 opacity: 1.0;
}
.footer .bbk {
 text-decoration: line-through;
}
.footer img {
 height: 1.8rem;
}

.footer .leftbut {
 position: absolute;
 z-index: 2;
 top: 0.3rem; left: 0.4rem;
 width: 8.8rem;
 height: 4.3rem;
 text-align: left;
 background: none;
}
.footer .leftbut .uploadpic {
 position: absolute;
 top: 0; left: 0;
 opacity: 0.8;
}
.footer .leftbut .uploadpic:hover {
 opacity: 1.0;
}
.footer .leftbut .yup {
 position: absolute;
 z-index: 3;
 left: 2rem; 
}
.footer .leftbut .yup .zero {
 opacity: 0.0;
}
.footer .leftbut .yup, .footer .leftbut .ox, .yy .chs {
 display: none;
}

.footer .leftbut .ox .wrap {
 position: absolute;
 z-index: 4;
 width: 6.2rem; left: 0; top: 0;
 height: 100%;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-color: black;
 background-image: none;
}
.footer .leftbut .ox .x {
 position: absolute;
 z-index: 4;
 width: 1.5rem; left: 6.2rem; top: 0;
 height: 1.5rem;
 background: black;
 opacity: 0.8;
}
.footer .leftbut .ox .x img {
 width: 1.1rem; 
 height: 1.1rem;
 margin: 0.2rem;
}
.footer .leftbut .ox .x:hover {
 opacity: 1.0;
}

.footer .rightbut {
 position: absolute;
 z-index: 3;
 text-align: right;
 top: -0.2rem; right: 3.4rem; height: 2.0rem;
 background:none;
}

.footer .rightbut img {
 opacity: 1.0;
 margin-right:0.3rem;
}

.footer .comment {
 position: absolute;
 z-index: 3;
 display: inline-block;
 top: 0.2rem; right: 0; height: 1.8rem;
 vertical-align: -0.1rem;
 padding: 0px 12px; 
 background: white;
}
.footer .comment:hover {
 background: #ffff33;
}

.footer .leftbut *, .footer .rightbut * {
 display: inline-block;
}

.footer .count { display: none; }

.footer .noout, .cancelform .noout {
 border: 0; outline: none;
 -webkit-transition: all 0.3s ease-out; 
 transition: all 0.3s ease-out;
}

#notes .one .room {
 display: none;
 margin-top: 0rem;
 text-align: left;
}
#notes .one .room img {
 margin-right: 0.3rem;
}

.footer .rightbut small, #notes .one .room small, .dark small {
 vertical-align: 10px;
 padding-left: 0.6rem;
 padding-right: 0.4rem;
 margin-right: 1rem;
 border-bottom: 2px solid var(--dots); 
}

.dark small {
 line-height: 1.0rem;
}

@media screen and (max-width: 20rem)  {
form textarea, form input {
 font-size: 1.375rem;
 line-height: 1.725rem;
}
.lone {
 height: calc(1.625rem * 3);
}
#notes .one.space {
 padding-top: calc(1.625rem * 2);
}
}

@media screen and (max-width: 42.5rem) and (min-width: 20rem)  {
form textarea, form input {
 font-size: 1.4375rem;
 line-height: 1.7875rem;
}
.lone {
 height:calc(1.6875rem * 3); 
}
#notes .one.space {
 padding-top: calc(1.6875rem * 2);
}
}

@media screen and (min-width: 42.5rem) {
form textarea, form input {
 font-size: 1.5rem;
 line-height: 1.85rem;
}
.lone {
 height: calc(1.75rem * 3);
}
#notes .one.space {
 padding-top: calc(1.75rem * 2);
}
}
