#logo {
 z-index: 1000;
 left: 2rem;
}
#logo:hover {
 opacity: 0.8;
}
#logo .but {
 width: 2rem;
 outline: none; border: none;
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100% 100%;
 background-image: url('../pics/licorice.png');
 background-color: none;
}
.lykryshbar {
 position: fixed;
 top: 1.4rem; 
}

#titl {
 z-index: 998;
 left:7.0rem;
}
#nav {
 display: none;
 z-index: 999;
 left: 2rem; top: 1.4rem;
 -webkit-animation: slide 0.5s forwards;
 animation: slide 0.5s forwards;
}
.but, .notbut {
 padding: 2px 12px;
 margin-left: 0.2rem;
}
.but {
 -webkit-transition: all 0.3s ease-out; 
 transition: all 0.3s ease-out;
}
.logo .but, .lykryshbar .but, .lykryshbar .notbut {
 display: inline;
}
.lykryshbar .disappr {
 opacity: 0;
}
#vol .but, #vol .notbut {
 display: block;
}

@-webkit-keyframes slide {
    100% { left: 6.0rem; }
}
@keyframes slide {
    100% { left: 6.0rem; }
}

#vol {
 display: none;
 position: fixed;
 z-index: 998;
 left: 6.0rem; top: 3rem;
 padding-top: 0.8rem;
}

@media screen and (max-width: 20rem)  {
.lykryshba small {
 font-size: 1.375rem;
}
}
@media screen and (max-width: 40rem) and (min-width: 20rem)  {
.lykryshba small {
 font-size: 18px;
}
}
@media screen and (min-width: 40rem) {
.lykryshba small {
 font-size: 21px;
}
}
