<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lykrysh</title>
    <link rel="icon" type="image/png" href="/static/pics/licorice.png" />
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/nav.css">
    <link rel="stylesheet" href="/static/style/board.css">
    <script type="text/javascript" defer src="/static/scrpt/j.scrpt"></script>
    <script type="text/javascript" defer src="/static/scrpt/nav.scrpt"></script>
    <script type="text/javascript" defer src="/static/scrpt/board.scrpt"></script>
</head>
<body>
  <IFRAME style="display:none" name="hiddenform"></IFRAME> 
  <div class="bgscreen n" id="dummy"><small id="bugbug">{% if msg %}{{ msg.1 }}{% endif %}</small></div>

    <div class="lykryshbar n"  id="logo">
      <small>
        <div class="but pc"></div>
      </small>
    </div>
    <div class="lykryshbar n" id="nav">
      <small>
        <div class="but pc" id="openvol">Issues</div>
        <div class="but pc">About</div>
        <div class="but pc">Contact</div>
      </small>
    </div>
    <div class="n" id="vol">
      <small>
        <div class="but pc">#3</div>
        <div class="but pc">#2</div>
        <div class="but pc">#1</div>
      </small>
    </div>

  <div class="lykryshbar n" id="tweet"><small><div class="but pc" id="newpost">New</div></small></div>
  <div class="bgscreen" id="newblk"></div>

  <div id="guard">
    {% set WHICH = 1 %}
    {% include "fm.tera" %}
  </div>

  <div class="b1">
    {% set WHICH = 2 %}
    {% include "fm.tera" %}

    <div id="notes">{% set_global ROOT = 0 %}{% set_global NEW = true %}
      <ul>

        {% for task in tasks %}

        <li class="li{{task.id}}">

            <span class="rootn">{{ task.rootnum }}</span>
            <span class="repln">{{ task.replnum }}</span>

          {% if task.rootnum != ROOT %}{% set_global NEW = true %}{% set_global ROOT = task.rootnum %}
            <div class="lone"></div>
          {% else %}{% set_global NEW = false %}
            <div class="brdg bbox n"><div class="nw l"><img src="/static/pics/a2.png"></div></div>
          {% endif %}

            <div class="tbox one {% if NEW == false %} space {% endif %}">

              <p>
              <span class="dsc">{{ task.description }}</span><br>
              <span class="op4">{{ task.posted | truncate(length=10, end="") }}</span> | <span class="op6">{{ task.whosent }} | Root: {{ ROOT }} Repl: {{ task.replnum }}</span>
              </p>
              <div class="pic n">{% if task.attached %}<img src="{{ task.attached }}">{% endif %}</div>

              <div class="footer n">
                <small class="but fb pc edit op4">Edit</small>
                <small class="but fb pc delete op4">Delete</small>
                <small class="but fb pc reply op8">Reply</small>
                <div class="room bbk">

                  <form>
                    <input type="hidden" name="taskid" value="{{ task.id }}" />
                    <input type="hidden" name="_method" value="" />
                    <img src="/static/pics/key.png"><small><input class="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="password" size=8 maxlength=24 placeholder="****" name="password" value="" /></small>
                  </form>

                </div>
                <span class="count">n</span>
              </div>

            </div>  <!-- end of one class -->

            <!-- EDIT form -->
            {% set WHICH = 4 %}
            {% include "fm.tera" %}

            <!-- REPLY form -->
            {% set WHICH = 3 %}
            {% include "fm.tera" %}

          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </body>
</html>
