<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lykrysh</title>
    <link rel="icon" type="image/png" href="/static/pics/icon.png" />
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/nav.css">
    <link rel="stylesheet" href="/static/style/board.css">
    <script type="text/javascript" defer src="/static/scrpt/j.scrpt"></script>
    <script type="text/javascript" defer src="/static/scrpt/nav.scrpt"></script>
    <script type="text/javascript" defer src="/static/scrpt/board.scrpt"></script>
</head>
<body>
  <IFRAME style="display:none" name="hiddenform"></IFRAME> 

    <div class="logo pc n" id="logo">
      <img src="/static/pics/logoblue.png">
    </div>
    <div class="lykryshbar n" id="nav">
      <small>
        <div class="but pc" id="openvol">Issues</div>
        <div class="but pc">About</div>
        <a href="contact.html"><div class="but pc">Contact</div></a>
      </small>
    </div>
    <div class="n" id="vol">
      <small>
        <div class="but pc">#3</div>
        <div class="but pc">#2</div>
        <div class="but pc">#1</div>
      </small>
    </div>

  <div class="bgscreen n" id="dummy"><p id="bugbug">{% if msg %}{{ msg.1 }}{% endif %}</p></div>
  <div class="lykryshbar n" id="tweet"><small><div class="but pc" id="newpost">New</div></small></div>
  <div class="bgscreen" id="newblk"></div>

  <div id="guard">
<!-- repeating code from here -->


    <div class="newchunk">
      <form class="f10 xx">
        <input type="hidden" name="inheritedid" value="none" />
        <input type="hidden" name="hasimg" value="0" />

        <div class="bbox n abv"><div class="short l"><img src="/static/pics/a1.png"></div><div class="short r rgttp"><img src="/static/pics/a1.png"></div></div>
        <div class="tbox me">
          <p>
            <textarea class="dsc" autofocus rows="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" name="description" value="" placeholder="BSOD"></textarea>
          </p>
        </div>

        <div class="bbox n btm"><div class="last l lftbm"><img src="/static/pics/a1.png"></div><div class="last r"><img src="/static/pics/a1.png"></div></div>

        <div class="busy tbox post">
          <div class="footer n">

            <div class="leftbut">
              <div class="ox">
                <div class="wrap"></div>
                <div class="x pc"><img src="/static/pics/x.png"></div>
              </div>
              <div class="uploadpic pc"><img src="/static/pics/pic.png"></div>
              <div class="yup">
                <label for="SOMETHINGUNIQUE"><small class="upup but pc op4">Upload</small></label><br>
                <small class="link but pc op4">Link</small>
              </div>
            </div>

            <div class="rightbut">
              <img src="/static/pics/id.png">
              <small><input class="who" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" size=8 maxlength=24 {% if welcomeback %} value="{{welcomeback}}" {% else %} value="" placeholder="any*****" {% endif %} name="whosent" /></small>
              <img src="/static/pics/key.png">
              <small><input class="scr" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" size=8 maxlength=24 placeholder="make*one" name="secret" value="" /></small>
            </div>

            <button class="OVLY comment noout pc"><img src="/static/pics/sendblue.png"></button>
          </div>
        </div>

        <div class="dark">
          <div class="link1"><img src="/static/pics/link1.png"></div>
          <small class="linkinput"><input class="linky" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" maxlength=240 placeholder="https://...(then enter)" name="linky" value="" onkeypress="return noenter()" /></small>
        </div>

      </form>

      <form class="f11 yy" enctype="multipart/form-data">
         <input id="SOMETHINGUNIQUE" class="chs" type="file" name="file" accept="image/*, video/*" />
      </form>
    </div> <!-- end of the newchunk class -->

<!-- repeating code until here -->
  </div>

  <div class="b1"> <!-- the top form -->

    <div class="newchunk">
      <form class="f10 xx">
        <input type="hidden" name="inheritedid" value="none" />
        <input type="hidden" name="hasimg" value="0" />

        <div class="bbox n abv"><div class="short l"><img src="/static/pics/a1.png"></div><div class="short r rgttp"><img src="/static/pics/a1.png"></div></div>
        <div class="tbox me">
          <p>
            <textarea class="dsc" autofocus rows="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" name="description" value="" placeholder="BSOD"></textarea>
          </p>
        </div>

        <div class="bbox n btm"><div class="last l lftbm"><img src="/static/pics/a1.png"></div><div class="last r"><img src="/static/pics/a1.png"></div></div>

        <div class="busy tbox post">
          <div class="footer n">

            <div class="leftbut">
              <div class="ox">
                <div class="wrap"></div>
                <div class="x pc"><img src="/static/pics/x.png"></div>
              </div>
              <div class="uploadpic pc"><img src="/static/pics/pic.png"></div>
              <div class="yup">
                <label for="DIFFERENT"><small class="upup but pc op4">Upload</small></label><br>
                <small class="link but pc op4">Link</small>
              </div>
            </div>

            <div class="rightbut">
              <img src="/static/pics/id.png">
              <small><input class="who" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" size=8 maxlength=24 {% if welcomeback %} value="{{welcomeback}}" {% else %} value="" placeholder="any*****" {% endif %} name="whosent" /></small>
              <img src="/static/pics/key.png">
              <small><input class="scr" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" size=8 maxlength=24 placeholder="make*one" name="secret" value="" /></small>
            </div>

            <button class="comment noout pc"><img src="/static/pics/sendblue.png"></button>
          </div>
        </div>

        <div class="dark">
          <div class="link1"><img src="/static/pics/link1.png"></div>
          <small class="linkinput"><input class="linky" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" maxlength=240 placeholder="https://...(then enter)" name="linky" value="" onkeypress="return noenter()" /></small>
        </div>

      </form>

      <form class="f11 yy" enctype="multipart/form-data">
         <input id="DIFFERENT" class="chs" type="file" name="file" accept="image/*, video/*" />
      </form>
    </div> <!-- end of the newchunk class -->





    <div id="notes">{% set_global ROOT = 0 %}{% set_global NEW = true %}
      <ul>
        <span class="sneak"></span>

        {% for task in tasks %}

        <li class="li{{task.id}}">
          {% if task.rootnum != ROOT %}{% set_global NEW = true %}{% set_global ROOT = task.rootnum %}
            <div class="lone"></div>
          {% else %}{% set_global NEW = false %}
            <div class="bbox n"><div class="reply l"><img src="/static/pics/a2.png"></div></div>
          {% endif %}
            <div class="tbox one {% if NEW == false %} space {% endif %}">

              <p><span class="dsc">{{ task.description }}</span> | <span class="op4">{{ task.posted | truncate(length=10, end="") }}</span> | <span class="op6">{{ task.whosent }}</span></p>
              <!-- <p>Root: {{ ROOT }} Repl: {{ task.replnum }}</p> -->
              {% if task.attached %}<div class="pic"><img src="{{ task.attached }}"></div>{% endif %}

              <div class="footer n">
                <small class="but fb pc edit op4">Edit</small>
                <small class="but fb pc delete op4">Delete</small>
                <small class="but fb pc reply op8">Reply</small>
                <div class="room bbk">

                  <form>
                    <input type="hidden" name="taskid" value="{{ task.id }}" />
                    <input type="hidden" name="_method" value="" />
                    <img src="/static/pics/key.png">
                    <small><input class="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="password" size=8 maxlength=24 placeholder="****" name="password" value="" /></small>
                  </form>

                </div>
                <span class="count">n</span>
              </div>

            </div>  <!-- end of one class -->

            <!-- EDIT form -->

            <div class="edf">
              <form class="f20 xx" action="/todo/{{task.id}}/edit" method="post">
                <input type="hidden" name="hasimg" value="{% if task.attached %}4{% endif %}" />
                <div class="bbox n abv top06"><div class="short l"><img src="/static/pics/a1.png"></div><div class="short r rgttp"><img src="/static/pics/a1.png"></div></div>
                <div class="tbox me bbk top06">
                  <p>
                    <textarea class="dsc" rows="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" name="description">{{ task.description }}</textarea>
                  </p>
                </div>
                <div class="bbox n btm"><div class="last l lftbm"><img src="/static/pics/a1.png"></div><div class="last r"><img src="/static/pics/a1.png"></div></div>

                <div class="busy tbox top12">
                  <div class="footer n" id="editable">

                    <div class="leftbut">
                      <div class="ox" {% if task.attached %}style="display: block"{% endif %}>
                        <div class="wrap" style="background-image: url({{ task.attached }})"></div>
                        <div class="x pc"><img src="/static/pics/x.png"></div>
                      </div>
                      <div class="uploadpic pc"><img src="/static/pics/pic.png"></div>
                      <div class="yup">
                        <label for="chs{{task.id}}e"><small class="upup but pc op4">Upload</small></label><br>
                        <small class="link but pc op4">Link</small>
                      </div>
                    </div>

                    <button type="submit" class="comment noout pc"><img src="/static/pics/sendblue.png"></button>
                  </div>
                </div>

                <div class="dark">
                  <div class="link1"><img src="/static/pics/link1.png"></div>
                  <small class="linkinput"><input class="linky" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" maxlength=240 placeholder="https://...(then enter)" name="linky" value="" onkeypress="return noenter()" /></small>
                </div>

              </form>

              <form class="f21 yy"  action="/todo/save" target="hiddenform" method="post" enctype="multipart/form-data">
                <input id="chs{{task.id}}e" class="chs" type="file" name="file" accept="image/*, video/*" />
              </form>

            </div>

            <!-- REPLY form -->

            <div class="rpf">
              <form class="f30 xx" action="/todo" method="post">
                <input type="hidden" name="inheritedid" value="{{ ROOT }}" />
                <input type="hidden" name="hasimg" value="0" />
                <div class="bbox n abv top06"><div class="cross l"><img src="/static/pics/a3.png"></div><div class="short r rgttp"><img src="/static/pics/a1.png"></div></div>
                <div class="tbox me top06">
                  <p>
                    <textarea  class="dsc" autofocus rows="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" name="description" value=""></textarea>
                  </p>
                </div>
                <div class="bbox n btm"><div class="last l lftbm"><img src="/static/pics/a1.png"></div><div class="last r"><img src="/static/pics/a1.png"></div></div>

                <div class="busy tbox top12">
                  <div class="footer n">

                    <div class="leftbut">
                      <div class="ox">
                        <div class="wrap"></div>
                        <div class="x pc"><img src="/static/pics/x.png"></div>
                      </div>
                      <div class="uploadpic pc"><img src="/static/pics/pic.png"></div>
                      <div class="yup">
                        <label for="chs{{task.id}}"><small class="upup but pc op4">Upload</small></label><br>
                        <small class="link but pc op4">Link</small>
                      </div>
                    </div>

                    <div class="rightbut">
                      <img src="/static/pics/id.png">
                      <small><input class="who" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" size=8 maxlength=24 {% if welcomeback %} value="{{welcomeback}}" {% else %} value="" placeholder="any*****" {% endif %} name="whosent" /></small>
                      <img src="/static/pics/key.png">
                      <small><input class="scr" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" size=8 maxlength=24 placeholder="make*one" name="secret" value="" /></small>    
                    </div>

                    <button type="submit" class="comment noout pc"><img src="/static/pics/sendblue.png"></button>
                  </div>
                </div>

                <div class="dark">
                  <div class="link1"><img src="/static/pics/link1.png"></div>
                  <small class="linkinput"><input class="linky" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" type="text" maxlength=240 placeholder="https://...(then enter)" name="linky" value="" onkeypress="return noenter()" /></small>
                </div>

              </form>

              <form class="f31 yy"  action="/todo/save" target="hiddenform"  method="post" enctype="multipart/form-data">
                <input id="chs{{task.id}}" class="chs" type="file" name="file" accept="image/*, video/*" />
              </form>

            </div>

          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </body>
</html>
